
@{
    ViewData["Title"] = "Responsive";
}

<h1>Responsive</h1>

<div class="container-fluid jumbotron collapse show" id="maindiv">
    <div class="row">
        <div class="col-md-8" style="color:darkblue; text-align:center; float:left;">
            Responsive | <mark style="color:orange;">Zeeshan Javed</mark>|
        </div>
        <div class="col-sm-4" style="background-color:green; float:right;">
            <a href="#maindiv" data-toggle="collapse"><img class="img-fluid" style="width:20px;height:20px;" src="~/menu.png" /></a>
            <h2 class="alert-heading">Zeeshan Javed</h2>
        </div>
    </div>
</div>

