
@{
    ViewData["Title"] = "UserRegistration";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Registration</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    
    
    <h1 style="color:darkblue;">User Registration Form </h1>
    <button style="color:yellowgreen">Sign Up</button>
    <input id="Text1" type="text" />
    <div style="width:500px; height:300px; background-color:#808080; position:center;" class="jumbotron col-lg-auto">
        <button style="color:yellowgreen">Sign Up</button>
        <h1>Testing Registration</h1>
        <input id="Text1" type="text" placeholder="Your Name" />
    </div>


    <a href="#colldiv" style="position:center; text-align:right;" data-toggle="collapse"><img style="width:24px; height:24px;" src="~/menu.png" /></a>

    <div id="colldiv" class="collapse show" style="background-color:navy; color:orange">
        <button style="color:orange;font-size:x-large;">Registration On click</button>
        <input type="password" value="" style="background-color:darkgoldenrod;font-size:x-large;" />
    </div>

    


</body>
</html>

